@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    width: 1200px;
    margin: 0 auto;
}

.car-dealers-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-dealers-header img {
    max-width: 100px;
    padding-top: 10px;
}

h1 {
    padding-bottom: 50px;
    font-weight: 100;
    font-size: 40px;
}

.main {
    display: flex;
}

.left {
    max-width: 55%;
    margin-right: 30px;
}

.left-header {
    max-width: 600px;
    padding-bottom: 30px;
    font-size: 21px;
    letter-spacing: 0.5px;
}

.left-text {
    font-size: 19.5px;
    line-height: 1.5;
    color: gray;
    padding: 0 20px 20px 0;
}

.right {
    max-width: 45%;
}

.benefit {
    display: flex;
    padding: 15px 0;
    gap: 10px;
    align-items: center;
}

.benefit-title,
.benefit-desc {
    color: grey;
}

.benefit-title {
    font-weight: bold;
    padding-bottom: 5px;
}

.benefit-desc {
    padding-top: 5px;
}