@import url("https://use.fontawesome.com/releases/v6.1.0/css/all.css");

.site-footer{
    display: flex;
    justify-content: space-around;
    background-color: #d8d9d8;
    padding: 30px 100px;
}

.site-footer li{
    list-style: none;
    font-size: 15px;
}