@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}


.first-info h1 {
    font-weight: bold;
    font-size: 35px;
}

.first-info p {
    font-weight: bold;
    font-size: 16px;
}

.get-started {
    font-size: 12px;
}

.advantage h1 {
    font-size: 45px;
}

.info h5 {
    font-size: 14px;
}

.info h1 {
    font-size: 28px;
}

.info-text {
    font-size: 14px;
}

.read-more {
    font-weight: 600;
    font-size: 15px;
}

.author {
    font-size: 14px;
}

.pricing-plans h1 {
    font-size: 28px;
}

.plan h3 {
    font-size: 22px;
}

.plan p{
    font-size: 55px;
    font-weight: 200;
}

.plan li,
.plan span{
    font-size: 14px;
}

.plan span{
    font-weight: bold;
}

.btn{
    font-size: 11px;
}