@media (width<=600px) {

    .navigation-nav{
        display: none;
    }

    .home-text {
        display: none;
    }

    .home-text01 {
        padding-top: 10px;
    }

    .home-text02 {
        margin-bottom: 25px;
    }

    .button-lg {
        margin-bottom: 17px;
    }

    .home-tab-selector-cards-container {
        display: block;
    }

    .portofolio-card-first-name {
        padding-bottom: 40px;
    }

    .section-container {
        padding-bottom: 0;
        padding-top: 30px;
    }

    .max-content-container {
        padding-bottom: 35px;
    }

    .home-text05{
        margin-top: 30px;
    }

    .home-image {
        display: none;
    }

    .home-text10 {
        margin-right: 50px;
    }

    .home-links-container {
        flex-direction: column;
        order: 1;
    }

    .home-product-container {
        margin-bottom: 24px;
    }

    .home-navigate-container {
        margin-bottom: 24px;
    }

    .home-subscribe-container {
        flex-direction: column;
        order: 2;
    }

    .home-contact-container{
        padding-bottom: 24px;
    }

    .home-top-part {
        flex-direction: column;
    }

    .home-subscribe-container{
        width: 100%;
    }

    .button-primary{
        padding: 1.2em 1.5em;
    }
}