* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: rgb(238, 238, 238);
    min-height: 100vh;
    font-family: 14px/1.5 Helvetica, sans-serif;
    flex-direction: column;
    justify-content: flex-start;

}

header,
main,
footer {
    border: 2px solid #000;
    padding: 2em;
}

main {
    flex-grow: 1;
    border-top: none;
    border-bottom: none;
}

footer {
    margin-top: auto;
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
}