@import url('https://use.fontawesome.com/releases/v6.4.0/css/all.css');

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
}

/* Header */

.site-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 20px 80px;
}

.site-nav ul {
    display: flex;
    gap: 30px;
}

.site-nav ul li {
    list-style: none;
}

.site-nav ul li a {
    text-decoration: none;
    color: black;

}

.site-nav ul li a,
.logo {
    font-weight: bold;
}

/* Make a Difference */

.make-difference {
    display: flex;
    background-color: #85dcff;
    align-items: center;
    margin: 0 auto;
    gap: 180px;
}

.left-side {
    width: 500px;
    padding-left: 150px;
}

.left-side-title {
    font-size: 28px;
    padding-bottom: 30px;
}

.left-side-subtitle {
    padding-bottom: 30px;
    font-size: 14px;
    line-height: 1.5;
}

.btn-container {
    display: flex;
    gap: 25px;
}

.donate-now {
    background-color: #fffefe;
    border: 1px solid black;
    border-radius: 6px;
    padding: 13px 70px;
}

.join-our-newsletter {
    background-color: #010001;
    color: white;
    border-radius: 6px;
    padding: 14px 71px;
    border: none;
}

.right-side {
    width: 450px;
    height: 450px;
    padding-bottom: 0;
}

.right-side img {
    width: 100%;
    height: auto;
}


/* Benefits */

.benefits {
    padding-top: 20px;
}

.benefits-title {
    text-align: center;
    padding-bottom: 20px;
    font-size: 18px;
}

.benefits-subtitle {
    text-align: center;
    font-size: 14px;
    width: 400px;
    margin: 0 auto;
    padding-bottom: 40px;
    letter-spacing: 1px;
    width: 450px;
}

.benefits-list {
    display: flex;
    gap: 80px;
    padding: 0 80px 50px 80px;
}

.benefit {
    text-align: center;
    width: 260px;
    margin: 0 auto;
}

.benefit i {
    color: #85dcff;
    font-size: 100px;
}

.benefit-title {
    padding: 20px 0;
    font-size: 16px;
}

.benefit-desc {
    font-size: 13px;
}

/* We Work */

.we-work {
    background-color: #85dcff;
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.we-work-title {
    text-align: center;
    padding-bottom: 50px;
}

.we-work-list {
    column-count: 2;
    column-width: 50px;
    /* column-gap: 120px; */
    padding-bottom: 30px;
}

.we-work-list li {
    display: flex;
    gap: 10px;
    width: 300px;
    padding: 10px 0;
    list-style: none;
    font-size: 14px;
    line-height: 1.5;
}


.our-mission {
    background-color: #010001;
    padding: 12px 50px;
    border-radius: 6px;
    border: none;
    color: white;
    margin: 0 auto;
}

/* Animals */

.animals {
    padding: 30px 0 50px 0;
}

.animals-title {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 30px;
}

.animals-subtitle {
    text-align: center;
    font-size: 14px;
    padding-bottom: 20px;
}

.animals-img {
    display: flex;
    gap: 25px;
    width: 250px;
    padding: 0 140px;
}

.animals-img img {
    width: 100%;
}

/* How we work */


.how-we-work {
    padding: 0 250px;
}


.how-we-work-article {
    border: 1px solid #c0c0c0;
    border-radius: 6px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.how-we-work-background {
    background-color: #85dcff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.how-we-work-art-title {
    padding: 20px 0 20px 0;
    margin: 0 25px;
}

.how-we-work-title {
    text-align: center;
    padding-bottom: 30px;
}

.how-we-work-art-desc {
    padding: 20px 25px 8px 25px;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.5;
}

/* Get HSUS */

.get-hsus {
    display: flex;
    align-items: center;
    gap: 50px;
}

.get-hsus-left {
    width: 60%;
}

.get-hsus-left img {
    width: 100%;
}

.get-hsus-right {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-right: 80px;
}

.get-hsus-title {
    padding: 30px 0;
}

.get-hsus-text {
    padding-bottom: 30px;
    font-size: 13px;
    line-height: 1.5;
}

.input-email {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid darkgrey;
    margin-bottom: 30px;
}

.send {
    width: 40px;
    padding: 12px 50px;
    background-color: #010001;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}


/* Footer */

.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.socials {
    display: flex;
    gap: 15px;
    font-size: 25px;
}

.socials li {
    list-style: none;
}

.copyright {
    font-size: 13px;
    font-weight: bold;
}