@import url("https://use.fontawesome.com/releases/v6.1.0/css/all.css");

body {
    background-color: #f0e4e4;
}

main {
    margin: 0 auto;
}

/* Room section */

.rooms-section {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 30px;
}

.rooms-section article {
    justify-content: center;
    padding: 25px 0;
}

.rooms-section article img {
    width: 210px;
    height: 210px;
}

.rooms-section article p {
    text-align: center;
    color: #818283;
    padding: 5px 0 0 0;
}


/* New Fall Collection */

.new-fall {
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
    padding-bottom: 20px;
    gap: 100px;
}

.right-side img {
    width: 600px
}

.left-side{
    padding-top: 50px;
}

.left-side-title {
    color: #f75a2e;
    font-size: 25px;
    font-weight: 600;
}

.left-side-subtitle {
    font-size: 11px;
    padding: 10px 0 20px 0;
}

.shop-now {
    background-color: #f75a2e;
    border: none;
    color: white;
    padding: 12px 15px;
    border-radius: 5px;
}


/* Benefits Section */

.benefits {
    display: flex;
    background-color: #cbc2c3;
    margin: 0 auto;
    justify-content: center;
    padding: 30px 0;
    gap: 60px;
    width: 930px;
}

.benefit {
    text-align: center;
}

.benefit i {
    background-color: #e7d7d6;
    padding: 20px;
    border-radius: 30px;
    color: #7c7d7c;
}

.benefit h4 {
    font-size: 14px;
    margin: 10px 0 5px 0;
    color: rgb(71, 71, 71);
}

.benefit p {
    font-size: 12px;
}