@media (max-width:600px) {

    nav {
        flex-direction: column;
    }

    nav img {
        padding-bottom: 15px;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    header nav ul li {
        padding-bottom: 5px;
    }

    .header-title {
        padding: 0;
        /* margin-top: 1.5em; */
    }

    .header-title h1 {
        font-size: 38px;
        padding-bottom: 1em;
    }

    .header-title p {
        font-size: 15px;
    }

    .header-title button {
        margin-bottom: 1em;
    }

    .choose-us ul {
        flex-direction: column;
    }

    .blog-news{
        padding: 2.5rem 0 4.5rem 0;
    }

    .blog-news ul {
        flex-direction: column;
        align-items: center;
        gap: 2.5em;
        /* margin: 0 50px; */
    }

    .team-description ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .team-description ul li img {
        width: 200px;
        height: 200px;
        padding-bottom: 0.3rem;
    }

    ul>li>p {
        max-width: 380px;
        margin: 0 auto;
        font-size: 14px;
    }

    .about-us p:nth-child(3) {
        font-size: 14px;
        width: 83%;
    }


    li section>p {
        max-width: 200px;
        font-size: 13px;
    }
}