body {
    display: flex;
    background-color: rgb(238, 238, 238);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: rgb(255, 255, 255);
    padding: 3em;
    border-radius: 8.5em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
    max-width: 15em;
}